$COLOR_WHITE_LIGHT: #FFFFFF;
$COLOR_WHITE_90_LIGHT: rgba(#FFFFFF, .9);
$COLOR_BLUE_LIGHT: #4944A4;
$COLOR_BLUE_80_LIGHT: rgba(#4944A4, .8);
$COLOR_BRAWN_LIGHT: #312429;
$COLOR_BRAWN_80_LIGHT: rgba(#312429, .8);
$COLOR_BRAWN_50_LIGHT: rgba(#312429, .5);

$COLOR_DARKBLUE_DARK: #161B3B;
$COLOR_BLUE_DARK: #4944A4;
$COLOR_WHITE_DARK: #FFFFFF;
$COLOR_WHITE_90_DARK: rgba(#FFFFFF, .9);
$COLOR_WHITE_70_DARK: rgba(#FFFFFF, .7);
$COLOR_WHITE_60_DARK: rgba(#FFFFFF, .6);

$FONT_FAMILY_MONTSERRAT: 'Montserrat', sans-serif;

$DESKTOP_FZ_TITLE_PRIMARY: .04027em;
$DESKTOP_FZ_TITLE_SECONDARY: .03333em;
$DESKTOP_FZ_SUBTITLE_PRIMARY: .01944em;
$DESKTOP_FZ_SUBTITLE_SECONDARY: .01944em;
$DESKTOP_FZ_TEXT_PRIMARY: .01944em;
$DESKTOP_FZ_TEXT_SECONDARY: .01666em;
$DESKTOP_FZ_TEXT_ALTERNATIVE: .0125em;
$DESKTOP_FZ_BUTTON_PRIMARY: .01666em;
$DESKTOP_FZ_BUTTON_SECONDARY: .0125em;

$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_SEMIBOLD: 600;
$FONT_WEIGHT_BOLD: 700;

:export {
  colorWhiteLight: $COLOR_WHITE_LIGHT;
  colorWhite90Light: $COLOR_WHITE_90_LIGHT;
  colorBlueLight: $COLOR_BLUE_LIGHT;
  colorBlue80Light: $COLOR_BLUE_80_LIGHT;
  colorBrawnLight: $COLOR_BRAWN_LIGHT;
  colorBrawn80Light: $COLOR_BRAWN_80_LIGHT;
  colorBrawn50Light: $COLOR_BRAWN_50_LIGHT;
  
  colorDarkblueDark: $COLOR_DARKBLUE_DARK;
  colorBlueDark: $COLOR_BLUE_DARK;
  colorWhiteDark: $COLOR_WHITE_DARK;
  colorWhite90Dark: $COLOR_WHITE_90_DARK;
  colorWhite70Dark: $COLOR_WHITE_70_DARK;
  colorWhite60Dark: $COLOR_WHITE_60_DARK;
}
