@import '../../../app/styles/variables.module';

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .text {
    font-size: max($DESKTOP_FZ_TEXT_PRIMARY, 16px);
    font-weight: $FONT_WEIGHT_REGULAR;
    line-height: 143%;
    text-align: start;
    margin-top: max(.05555em, 30px);
    transition: $TRANSITION_COLOR;
  }
}
