.linkLogo {
  width: max(.03125em, 35px);
  height: max(.03125em, 35px);
  position: relative;
  
  /*.logo {
    width: .0868em;
    height: .02916em;
    position: relative;
    z-index: 99;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
}

/*
@media (max-width: 1024px) {
  .linkLogo {
    width: unset;
    
    .logo {
      width: max(.12109em, 100px);
      height: max(.040039em, 34px);
    }
  }
}*/
