.social {
  display: inline-grid;
  width: max(.23611em, 150px);

  .list {
    display: flex;
    justify-content: space-between;

    .item {
      width: 40px;
    }

    .link {
      display: flex;
      justify-content: space-evenly;
    }

  }

}






